@charset "utf-8";

.container {
    width: 90%;
    margin: auto;
}

header{
    padding:2em 0;
}
header img {
    width: 100%;
}

nav.menu_flex { /*メニューを最上部に固定*/

    /* position: fixed;
    width: 90%;
    top: 0; */

}
nav.menu_flex ul {
    display: flex;
}
nav.menu_flex ul li {
    flex: 1;
}

nav.menu_flex ul li a { /*メニューアイテムの設定*/
    background-color: white;
    color: gray;
    display: block; /* 文字以外の場所もクリック可能にする*/
    text-align: center; /* 文字を中央にする */
    height: 2em;
    line-height: 2em;
    text-decoration: none; /* 下線を消す */
    border-left: solid gray;
}
nav.menu_flex ul li:last-child a{
    border-right: solid gray;
}

h2 {
    margin: 1em 0;
    padding: 0.3em 1em;
    font-size: 1.2em;
    border-left: 1em solid darkorange;
    border-bottom: 3px solid darkorange;
}

.petInfo{
    clear: both;
    overflow: hidden;
    background-color: navajowhite;
    padding: 1em;
    margin: 1em 0;
    position: relative;
}

.petInfo img{
    float: left;
    padding: 0 1em;
    border-radius: 50%;
}
.recommend {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.5em;
  background-color: #FF0;
}

footer {
  clear: both;
  background-color: #f88222;
  line-height: 2em;
  text-align: center;
  color: #FFF;
}